*, 
*::before, 
*::after {
   box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@300;600;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;

body {
   max-width: 1400px;
   margin: 0 auto;
   font-family: $nunito;
   background: #f2f2f2;
}
li {
   list-style-type: none;
}
a {
   text-decoration: none;
}
/*----------------------------------------------*/
.header {
   width: 100%;
   height: 48em;
   display: flex;
   align-items: center;
   margin: 0;
}

.box-header_left {
   position: relative;
   width: 24.5em;
   background: #f2f2f2;
   height: 100%;
   .header__logo-link {
      margin-top: 4.72em;
      margin-left: 8.58em;
      width: 6.83em;
      height: 2.27em;
      a {
         width: 100%;
         height: 100%;
      }
   }
}

.box-header_center {
   width: 48%;
   background: url("../images/header/header-background.jpg") center no-repeat;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   .play {
      background: #f2f2f2;
      border: none;
      border-radius: 3.125em;
      width: 3.37em;
      height: 3.37em;
      display: flex;
      align-items: center;
      justify-content: center;

      .play__image {
         margin-left: 4px;
         border-top: 8px solid transparent;
         border-left: 14px solid #c7a17a;
         border-bottom: 8px solid transparent;

      }
   }
   .play:hover {
      opacity: .8;
   }
   .play:active {
      transform: translateY(.9px);
   }  
}

.header__title {
   position: absolute;
   margin-top: 24.18em;
   margin-left: 8.12em;
   p {
      margin: 0 15px;
      text-transform: uppercase;
      font-family: $montserrat;
      font-weight: 900;
      font-size: 54px;
      line-height: 70px;
      color: #415167;
   }
   mark {
      margin-left: -15px;
      padding: 0 15px;
      background-color: #c7a17a;
      color: #F9FBFF;
   }
}

.box-header_bar {
   width: 21em;
   height: 100%;
   background: #415167;
   .header__cart-button {
      margin-top: 4.62em;
      margin-left: 3.5em;
      width: 2.37em;
      height: 2.37em;
      position: relative;
      .header__circle {
         top: 0;
         right: 0;
         width: 1.25em;
         height: 1.25em;
         position: absolute;
         background-color: #c7a17a;
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #F9FBFF;
         z-index: 100;
      }
      .header__cart {
         position: absolute;
         padding-top: 0.9em;
         padding-left: 0.38em;
         z-index: 99;
      }
   }
   .header__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
         width: 11.75em;
         height: 17.31em;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      .header__button {
         opacity: .7;
         transition: .2s;
         color:#EDF0F5;
      }
      .header__button:hover {
         opacity: 1;
         font-weight: bold;
      }
   }
}
.menu {
   margin: 5.43em 9.25em;
   width: 69em;
   height: 100%;
   display: flex;
   flex-direction: column;
   background: #f2f2f2;
   &__header {
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
      color: #415167;
   }
   &__subtitle {
      margin: 0 auto;
      font-weight: 600;
      font-size: 1.24em;
      line-height: 1.5em;
   }
   &__title {
      font-family: $montserrat;
      margin: 0.13em auto 5.89em;
      margin-top: 0.13em;

      font-weight: 900;
      font-size: 1.87em;
      line-height: 34px;
   }
}
.container-top {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.box-category {
   width: 14.12em;
   height: 14.39em;
   display: center;
   flex-direction: column;
   margin-bottom: 9.04em;
   &__image {
      display: flex;
      justify-content: center;
   }
   &__title {
      display: flex;
      justify-content: center;
      color: #232C38;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin-top: 1.85em;
      margin-bottom: .75em;
   }
   &__description {
      display: flex;
      justify-content: center;
      text-align: center;
      line-height: 22px; 
      
   }
}
.box-main {
   width: 100%;
   height: 100%;
   position: relative;
   overflow:hidden;
   height: 55.87em;
}
.box-main__01 {
   background-color:#415167;
   width: 100%;
   height: 100%;
}

.box-main__02 {
   background: #f2f2f2;
   height: 100%;
   margin-left: 27.4%;
}
.main-box__title {
   position: absolute;
   margin: 5.62em 0 0 38.49%;
   color: #415167;
   p {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
   }
   h2 {
      padding-top: 0.375em;
      margin: 0;
      font-weight: 900;
      font-size: 30px;
      line-height: 34px;
      font-family: $montserrat;
   }
}
.box-main__button {
   position: absolute;
   margin-top: -27.075em;
   margin-left: 92%;
   z-index: 105;
   button {
      background-color: #c7a17a;
      border: none;
      width: 3em;
      height: 3em;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.box {
   position: absolute;
   top: 13.875em;
   left: 7.78%;
   width: 105em;
   height: 34em;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   z-index: 100;
}
.box-content1 {
   margin-left: 9.14%;
   width: 35em;
   height: 16em;
   background: #f2f2f2;
   display: flex;
   align-items: center;
}
.box-content__image {
   margin: 0;
   width: 16em;
   height: 100%;
}
.box-cost {
   width: 26.87em;
   h6 {
      margin: 0;
      margin-top: 0.5em;
      color:#232C38;
      font-family: $nunito;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      width: 9.87em;
   }
   
   p  {
      color: #151D28;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
   }
}
#box-content__money {
   color:#C7A17A; 
   font-family: $nunito;
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
}
.box-content__buttons {
   margin-top: 1.12em;
   width: 14.312em;
   height: 2em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .box-content__button {
      background: #C7A17A;
      width: 8.37em;
      height: 100%;
      border-radius: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .8;
      a {
         color: #f2f2f2;
      }
   }

   .box-content__button:hover {
      opacity: 1;
   }
   a {
      color: #151D28;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
   }
}
.box-after {
   margin-top: 5.37em;
   width: 100%;
   height: 100%;
   background: #f2f2f2;
   .after-box__title {
      width: 14.93em;
      height: 3.87em;
      margin: 0 auto;
      color: #415167;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
         margin: 0;
         font-weight: 600;
         font-size: 20px;
         line-height: 24px;
      }
      h2 {
         margin: 0;
         margin-top: 0.375em;
         font-family: $montserrat;
         font-weight: 900;
         font-size: 30px;
         line-height: 34px;
      }
   }
}
.box-dop-box {
   margin-top: 4.25em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.box-dop-content__image {
   margin-left: 8.12em;
   width: 30.62em;
   height: 28.75em;
}
.hre-box {
   width: 24.31em;
   display: flex;
   justify-content: space-between;
}
.hre2-box {
   padding-left: 17px;
   span {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #415167;
   }
   h6 {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #415167;
   }
}
.box-param {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 11.56em;

}
.param2 {
   width: 8.26em;
}
.box-triggers {
   padding-right: 7.68em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   height: 18.687em;
   width: 5.5em;
}
.box-trigger  {
   font-family: $montserrat;
   font-weight: 900;
   font-size: 30px;
   line-height: 34px;
   color: #415167;
   opacity: 0.3;
}
.box-trigger:hover {
   opacity: 1;
}
.dopdop {
   width: 21.312em;
}
footer *, *::after, *::before {
   margin: 0;
   padding: 0;
}
.footer {
   margin-top: 7.875em;
   position: relative;
   width: 100%;
   height: 56.625em;
}
.container {
   margin-top: 5.5em;
   position: absolute;
   max-width: 1400px;
   height: 100%;
}
.box-header {
   width: 100%;
   height: 4em;
}
                              /* stalization */
                              .box-text {
                                 color: #415167;
                                 .box-text__top {
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 24px;
                                 }
                                 .box-text__down {
                                    margin-top: 6px;
                                    font-family: $montserrat;
                                    font-weight: 900;
                                    font-size: 30px;
                                    line-height: 34px;
                                 }
                              }
                              /*------*/
.box-text {
   width: 18.12em;
   height: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.box-footer {
   margin-top: 4em;
   display: flex;
   margin-left: 8em;
}
.box-content {
   width: 71.25em;
   height: 35.12em;
   display: flex;
   justify-content: space-between;
}
.box-scoreboard {
   background-color: #f2f2f2;
   width: 22.5em;
   height: 100%;
   margin: 0 1.125em;
}
.box-scorebord__image {
   width: 100%;
   height: 18.75em;
   img {
      width: 100%;
      height: 100%;
   }
}
                           /* font-styles */
                           .box-scorebord__value {
                              .box-scorebord__price {
                              font-weight: 600;
                              font-size: 20px;
                              line-height: 24px;
                              color: #C7A17A;
                              }
                              .box-scorebord__original {
                                 padding-left: 10px;
                                 font-style: italic;
                                 font-weight: 300;
                                 font-size: 14px;
                                 line-height: 19px;
                                 color: #415167;
                              }
                           }
                           /*-------*/

.box-scorebord__value {
   max-width: 17.25em;
   min-height: 1.37em;
   margin-top: 2.125em;
   margin-left: 2.625em;
   display: flex;
   align-items: center;
}
                           /* stylization */
                           .box-scorebord__text {
                              span {
                                 color: #232C38;
                                 font-weight: bold;
                                 font-size: 24px;
                                 line-height: 28px;
                              }
                              p {
                                 color: #151D28;
                                 font-weight: 300;
                                 font-size: 16px;
                                 line-height: 22px;
                              }
                           }
                           /*-------*/

.box-scorebord__text {
   width: 100%;
   min-height: 5.125em;
   margin-left: 2.625em;
   margin-top: 0.625em;
   max-width: 17.25em;
   p {
      padding-top: 0.625em;
   }
}

                           /* stylization */
                           .box-scorebord__desc {
                              %fontButton {
                                 font-weight: bold;
                                 font-size: 16px;
                                 line-height: 22px;
                              }
                              .button {
                                 width: 8.375em;
                                 height: 2em;
                                 button {
                                    @extend %fontButton;
                                    color: #F9FBFF;
                                    background: #C7A17A;
                                    border: none;
                                    border-radius: 19px;
                                    width: 100%;
                                    height: 100%;
                                    opacity: .8;
                                 }
                                 button:hover {
                                    opacity: 1;
                                 }
                              }
                              a {
                                 @extend %fontButton;
                                 color: #415167;
                              }
                              a:hover {
                                 opacity: .8;
                              }
                           }
                           /*-------*/
.box-scorebord__desc {
   height: 2em;
   max-width: 17em;
   margin-left: 2.625em;
   margin-top: 2em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.box-btn {
   height: 35.125em;
   width: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
}
                              /* stylization */
                              .box-btn {
                                 button {
                                    width: 3em;
                                    height: 3em;
                                    border: none;
                                    border-radius: 50%;
                                    background-color: #C7A17A;
                                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    opacity: .8;
                                 }
                                 button:active {
                                    opacity: 1;
                                 }
                              }
                              /*-------*/
.box-footer-right {
   background-color: #415167;
   width: 20.375em;
   height: 100%;
   margin-left: 76.71%;
}
.footer-bottom {
   width: 100%;
   height: 3.75em;
   span {
      margin: 1.125em 41.78% 1.25em 41.78%;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #415167;
   }
}